global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /actuator/health  # Если используется Spring Actuator
    http-check expect status 200
    server navigator-1 navigator-1:1516 check
    server navigator-2 navigator-2:1516 check
